.ladybug {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(./img/ladybug.png);
  background-size: contain;
  
}

.ladybug--up {
  transform: rotate(0deg);
  transition: 300ms;
}

.ladybug--left {
  transform: rotate(-90deg);
  transition: 300ms;
}

.ladybug--right {
  transform: rotate(90deg);
  transition: 300ms;
}

.ladybug--down {
  transform: rotate(180deg);
  transition: 300ms;
}

